{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="card-body">
            <h1 class="card-header">Welcome to Pyhoot!</h1>

            <p class="card-text" style="margin: 20px">Pyhoot is a school-project for Web-framework, the goal is to create a quiz-game with multiplayer
                functionality, where the users can create their own quiz-forms and host a lobby for friends to join.</p>

            <p class="card-footer">This is still a Early-access version if the page, and more features are coming shortly... </p>
        </div>
    </div>

{% endblock %}